IpManagerWs/Service References/HukukWs/HsClient41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IpManagerWs.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IpManagerWs.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.39/HukukWsApp/HsClient.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="HsResponseOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="HsResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IpManagerWs.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_x003C_Message_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Operation_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Statu_x003E_k__BackingField" type="tns:Statu" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_genericList_x003E_k__BackingField" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HsResponseOfstring" nillable="true" type="tns:HsResponseOfstring" />
  <xs:simpleType name="Statu">
    <xs:restriction base="xs:string">
      <xs:enumeration value="success" />
      <xs:enumeration value="fail" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Statu" nillable="true" type="tns:Statu" />
  <xs:complexType name="GetMattersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Matters" nillable="true" type="tns:ArrayOfMatter" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Statu" type="tns:Statu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMattersResponse" nillable="true" type="tns:GetMattersResponse" />
  <xs:complexType name="ArrayOfMatter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Matter" nillable="true" type="tns:Matter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatter" nillable="true" type="tns:ArrayOfMatter" />
  <xs:complexType name="Matter">
    <xs:sequence>
      <xs:element name="_x003C_DevirKaydiVar_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DevirTarihi_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DevirTutariBirimiID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_DevirTutari_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_DevredenSure_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_KapanmisProje_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MusteriID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Notlar_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OzelDovizKuru1_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_OzelDovizKuru2_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_OzelDovizKuruVar_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProjeAdi_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProjeBaslangic_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProjeBitis_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProjeKodu_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProjeTipiID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_VeriGirisDili_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Matter" nillable="true" type="tns:Matter" />
  <xs:complexType name="GetKullanicilarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Kullanicilar" nillable="true" type="tns:ArrayOfKullanicilar" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Statu" type="tns:Statu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetKullanicilarResponse" nillable="true" type="tns:GetKullanicilarResponse" />
  <xs:complexType name="ArrayOfKullanicilar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Kullanicilar" nillable="true" type="tns:Kullanicilar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKullanicilar" nillable="true" type="tns:ArrayOfKullanicilar" />
  <xs:complexType name="Kullanicilar">
    <xs:sequence>
      <xs:element name="_x003C_Bloke_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CalisanAdi_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CalisanSoyadi_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Email_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GorevID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IseGirisTarihi_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IstenCikisTarihi_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_KullaniciKodu_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SaatUcretli_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Sifre_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Sistemde_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_YetkiDizisi_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kullanicilar" nillable="true" type="tns:Kullanicilar" />
</xs:schema>