IpManagerWs/Service References/HukukWs/HsClient42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.39/HukukWsApp/HsClient.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IpManagerWs.Model" />
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IpManagerWs.Model" minOccurs="0" name="AuthenticateUserResult" nillable="true" type="q1:HsResponseOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reporttype" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMattersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IpManagerWs.Model" minOccurs="0" name="GetMattersResult" nillable="true" type="q2:GetMattersResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKullanicilar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKullanicilarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IpManagerWs.Model" minOccurs="0" name="GetKullanicilarResult" nillable="true" type="q3:GetKullanicilarResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>