IpManagerWs/Service References/HukukWs/HsClient1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HsClient" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.39/HukukWsApp/HsClient.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.39/HukukWsApp/HsClient.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.39/HukukWsApp/HsClient.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IpManagerWs.Model" />
      <xsd:import schemaLocation="http://192.168.1.39/HukukWsApp/HsClient.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHsClient_AuthenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="IHsClient_AuthenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IHsClient_GetMatters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatters" />
  </wsdl:message>
  <wsdl:message name="IHsClient_GetMatters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMattersResponse" />
  </wsdl:message>
  <wsdl:message name="IHsClient_GetKullanicilar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKullanicilar" />
  </wsdl:message>
  <wsdl:message name="IHsClient_GetKullanicilar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKullanicilarResponse" />
  </wsdl:message>
  <wsdl:portType name="IHsClient">
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IHsClient/AuthenticateUser" message="tns:IHsClient_AuthenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHsClient/AuthenticateUserResponse" message="tns:IHsClient_AuthenticateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatters">
      <wsdl:input wsaw:Action="http://tempuri.org/IHsClient/GetMatters" message="tns:IHsClient_GetMatters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHsClient/GetMattersResponse" message="tns:IHsClient_GetMatters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKullanicilar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHsClient/GetKullanicilar" message="tns:IHsClient_GetKullanicilar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHsClient/GetKullanicilarResponse" message="tns:IHsClient_GetKullanicilar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHsClient" type="tns:IHsClient">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/IHsClient/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatters">
      <soap:operation soapAction="http://tempuri.org/IHsClient/GetMatters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKullanicilar">
      <soap:operation soapAction="http://tempuri.org/IHsClient/GetKullanicilar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HsClient">
    <wsdl:port name="BasicHttpBinding_IHsClient" binding="tns:BasicHttpBinding_IHsClient">
      <soap:address location="http://192.168.1.39/HukukWsApp/HsClient.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>